# Python
venv/
__pycache__/
*.pyc

# FastAPI/Langchain
.env
.env.*
*.env

# Node/Extension
extension/node_modules/
extension/dist/
extension/.env

# General
.DS_Store
*.log

# VSCode
.vscode/

# OS
Thumbs.db

# Ignore all Chroma DB files/folders recursively
backend/chroma_db/
**/chroma_db/
**/*.sqlite3
**/*.sqlite
**/*.db
**/*.db-shm
**/*.db-wal
**/*.pkl

